<form ng-submit="saveNote()">
  <p>
    <input
      type="text"
      ng-model="note.title"
      name="title"
      id="note_title"
      placeholder="Title your note">
  </p>
  <p>
    <textarea
      name="body_html"
      ng-model="note.body"
      placeholder="Just start typing..."
      ></textarea>
  </p>
  <div class="form-actions">
    <input
      type="submit"
      name="commit"
      value="{{ note._id ? 'Update Note' : 'Create Note' }}"
      class="btn btn-default">

    <a ng-click="delete()"><i class="fa fa-trash-o"></i></a>
  </div>
</form>
