<div class="container">
  <div class="row">
    <nav class="col-xs-4" id="sidebar">
      <button ng-click="clearForm()" class="btn btn-default">
        New Note
      </button>
      <ul id="notes">
        <li ng-repeat="note in notes | orderBy: '-updated_at' track by $index" ng-click="edit(note)">          <h2> {{ note.title }} </h2>
          <div> {{ note.title }} </div>
          <div> {{ note.body }} </div>
        </li>
      </ul>
    </nav>
    <main class="col-xs-8" ui-view></main>
  </div>
</div>
