<div class="container">
  <div class="row">
    <nav class="col-xs-4" id="sidebar">
      <button class="btn btn-default">
        New Note
      </button>
      <ul id="notes">
        <li ng-repeat="note in notes track by $index">
          <h2> {{ note.title }} </h2>
          <div> {{ note.body }} </div>
          <a href="" ng-click="removeNote($index)">(remove)</a>
          <a href="" ng-click="editNote(note)">(edit)</a>
        </li>
        <li>
          Note 1
        </li>
      </ul>
    </nav>
    <main class="col-xs-8" ui-view></main>
  </div>
</div>
